/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    /*----------- BODY --------------*/



    /*----------- HEADER --------------*/

    header,
    nav,
    main,
    footer {
        max-width: 64rem;
        margin: auto;
    }

    header img.ltittle {
        width: 480px;
        margin: 1rem 0rem 0rem 5rem;
    }

    header img.logo {
        width: 210px;
        margin-left: -20px;
    }

    header {
        display: flex;
    }


    /*----------- NAVIGATION --------------*/


    nav ul li {
        float: left;

    }
    nav ul li a { 
        padding: .5rem 2rem;

    }

    nav ul.hide {
        font-size: 1rem;

    }
    /*----------- Home Page --------------*/

    main section.forecast {
        margin: 3em 4em 3px 6em;

    }

    .rentaloptions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div.cards section {
        display: block;
    }

    /*----------- Rentals Page --------------*/

    #rentals{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .rentalimagebkg {
        width: 75%;
        float: right;
    }

}

/* end of media query */