/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/



    /*----------- HEADER --------------*/

.firsblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

header img.ltittle {
    margin-right: 10px;
    width: 300px;
    border-radius: 10px;
    margin-top: 3em;
}
header img.logo {
    width: 180px;
    margin-left: -20px;
}

    header h1 {
        font-size: 3rem;
    }

    header h2 {
        font-size: 1.5rem;
    }
    div.data h2 {
        padding-top: 0em;
    
    }

    /*----------- NAVIGATION --------------*/
    nav ul {
        margin-left: 2%;
        display: flex;
        height: 35px;
    }




    nav ul.hide {
        display: flex;    
        font-size: 0.9rem;

    }

    nav button {
        display: none;
    }


    /*----------- MAIN --------------*/
    main img {
        width: auto;
        border-radius: 10px
    }

    h2.location, .forecast2 h2  {
        margin: 2em 0 2em 38%;

    }

    .call {
        width: 44%;
        font-size: 18px;
    }

    img.soda{
        width: 50%;
        width: 100%;
        grid-row: 1;
        margin-left: 0%;
        margin-top: 20%;
    }
    card.et {

        margin: -27em 0 0 35em;
        display: block;
        position: absolute;
    }

    /*----------- ------------------*/

    /*- Banner-*/

    main section div.banner-box img {
        width: 100%;
    }


     /*----------- Preston Page ------------------*/


    main section.forecast {
        position: relative;
        background: radial-gradient(circle at bottom center, #eccea7 15px, #bd9b4b);
        padding: 1.5rem;
        margin: 0em 0em 0px 0em;
        box-shadow: 0 0 30px #111;
        opacity: .8;
        border-radius: 10px;
        font-size: 14px;
        line-height: 9px;
    }
    .playa {
        width: 300px;
        display: block;
    }

    main section div.forecast2 {
        display: block;
        margin-top: 4em;

    }

    .preston-article {
        background: linear-gradient(#637ca2, #d7d8de);
        display: grid;
        grid-template-rows: 1fr;

    }

    section article .data {
        grid-column: 1;
        grid-row: 1;
        line-height: 2em;
        padding: 3em;
        text-align: justify;
    }

    section article img {
        width: 50%;
        width: 77%;
        grid-column: 2;
        padding: 20px;
        margin-left: 10%;
    }

    .contactsec {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/3;
        

    }

    div.contact {
        margin: 2em 3em 4em 0em;
            }

    div.location {
        display: block;
        grid-column: 1;
        grid-row: 2;
        height: 100%;
        padding: 1em;
        margin: 0em 0em 1em 2em;

    }

    iframe {
        width: 90%;
        height: 100%;
    }


    /*Contact Page*/
    .contact-pic {
        width: 80%;
        grid-column: 1/3;
        grid-row: 1;
        margin-left: 7em;
        display: block;
    }
    .formpage {

        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .form-panel {
        background: linear-gradient(45deg, #e7e6e2, #385f8a);
        border: 1px solid #bbb;
        box-shadow: 0 0 10px #333;
        padding: 1em;
        width: 62%;
        margin: 5em 4em;
    }

    /*storm center page*/




    .form-box label,
    .form-box label.storm,
    .form-box label.flexly {
        flex-basis: 9rem;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
    }

    input.thick {
        padding: 0;
        margin-left: 2em;
    }
    .form-panel {

        margin: 2em 4em;
    }



    /*----------- FOOTER --------------*/

}

/* end of media query */