/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    
}

/* TABLE ELEMENTS*/ 
.fonts {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
  }
  .fonts th {
    background-color: #516190;
    color: white;
  }
  .fonts td{
    width: 25%;
    height: 3em;
  }
  .head1 {
    font-family: 'EB Garamond', serif;
    font-size: 2em;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-image: linear-gradient(#407ede, #dfe1ef);
}
header img {float: left; margin-right: 10px; width: 350px; border-radius: 10px}
header h1 {margin: 1rem 2rem 0; font-size: 3rem;font-family: 'EB Garamond', serif;}
header h2 {margin: 0 2rem 0; font-weight: normal; font-size: 1.5rem;font-family: 'EB Garamond', serif;}

main img {margin-right: 10px; width: 350px; border-radius: 10px}

div img {margin-right: 10px; width: 400px;}



/*----------- NAVIGATION --------------*/
nav {
    background-color: #516190;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}





nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    
}


nav ul li a:hover {
    background-color: #c1e0ec;
    color: black;
    border-bottom: 4px solid #b3b3b3;
}


nav ul li.active a {
    background-color: #233875;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}



/*----------- FOOTER --------------*/
footer {
    background-image: linear-gradient(#dfe1ef, #407ede);
    padding: .5rem 2%;
    text-align: center;
    display: flex;
}



/*--- Clearfix---*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}