/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {




    /*----------- BODY --------------*/



    /*----------- HEADER --------------*/

    header,
    nav,
    main,
    footer {
        max-width: 64rem;
        margin: auto;
    }

    header {
        display: flex;
    }

    .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .headert {
        font-style: italic;

    }


    /*----------- NAVIGATION --------------*/


    nav ul li {
        float: left;

    }


    /*----------- MAIN --------------*/



    div.cards section {
        display: block;
    }

    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        }

    
        img.soda{
            width: 50%;
            width: 100%;
            grid-row: 1;
            margin-left: 0%;
            margin-top: 10%;
        }

        card.et {
            background: #4dbee1;
            padding: 1.5rem;
            box-shadow: 0 0 30px #111;
            opacity: .8;
            box-shadow: 10px 10px 10px #4F6272;
            font-size: 12px;
            display: block;
            position: absolute;
            margin: -37em 0 0 52em;
        }


    /*----------- FOOTER --------------*/

}

/* end of media query */