/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;

}

/* TABLE ELEMENTS*/



/*----------- HEADER --------------*/
div#headerWrapper {
    background-color: #eef;
}

header {
    padding: .5rem 2%;
    background-image: linear-gradient(#407ede, #dfe1ef);
}

header img {
    float: left;
    margin-right: 10px;
    width: 130px;
    border-radius: 10px
}

header h1 {
    margin: 0rem 2rem 0;
    font-size: 2rem;
    font-family: 'EB Garamond', serif;
}

header h2 {
    margin: 0 2rem 0;
    font-weight: normal;
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
}





/*----------- NAVIGATION --------------*/

nav {
    background-color: #516190;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 196px;
}

div#navWrapper {
    background-color: #516190;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav button:hover {
    color: #73a0e4;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: left;
    margin-left: 1em;

}


nav ul li a:hover {
    background-color: #c1e0ec;
    color: black;
    border-bottom: 4px solid #b3b3b3;
}

nav ul.hide {
    display: none;
}


nav ul li.active a {
    background-color: #233875;
    color: #fff;
    font-weight: bold;

}

/*----------- MAIN --------------*/

/*home page*/

div.cards {
    text-align: center;
    grid-gap: 1rem;
}

div.data h4 {
    padding-top: 0.5rem;
    font-size: 12px;
    margin: 1px;
}


div.cards section {
    display: block;
    background-image: linear-gradient(#516190a6, #dfe1ef);
    margin-top: 1.5rem;
    padding-top: 10px;
    border-radius: 10px;
}


div.cards img {
    max-width: 300px;
    padding: 0.75rem;
    border-radius: 20px;
}

div.data h2 {
    padding-top: 1em;

}

/*-----------------------------------------------------*/


div#contentWrapper {
    background-color: #fff;
}

div#message {
    background-color: #c1e0ec;
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

h2.location, h2.gallerytittle, h2.storm {
    margin-left: 0%;
    text-shadow: -2px 6px 12px;
}

h2 {
    text-shadow: -2px 6px 12px;

}

main {
    padding: 0 2%;
    min-height: 10rem;
}

main section div.banner-box img {
    width: 100%;
}


.myphoto{
    width: 100%;
    margin: 0;
}
.myphoto img{
    width: 100%;
}

main section .forecast {
    position: absolute;
    display: block;
    margin: -20em 0px 0px 1em;
    background: radial-gradient(circle at bottom center, #72ec87 15px, #5ed7fb);
    padding: 1.5em;
    box-shadow: 0 0 30px #111;
    opacity: .8;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #4F6272;
    font-size: 9px;
}

main section div.forecast2 {
    display: none;
}

main section.article {
    align-items: center;
    padding-top: 2em;
}

/*----------- Forecast table format --------------*/


.extended {
    width: 65%;
    min-width: 350px;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    background: #e0f1ff;
    border-radius: 30px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 2px #9fabc1; /* this draws the table border  */ 
}



 table th, td {
    padding: 10px;
}




table tr td img {
    width: 60px;
    padding: 0.3rem;
}

/*------------------------------------------------*/


.preston-article {
    background: linear-gradient(#637ca2, #d7d8de);
    display: grid;
    grid-template-rows: 1fr;

}

section article .data {
    grid-row: 2;
    line-height: 2em;
    padding: 1em;
    text-align: justify;
}


section article img {
    width: 50%;
    width: 77%;
    grid-row: 1;
    padding: 20px;
    margin-left: 10%;
}


/*---------Soda page---------*/

img.soda{
    width: 50%;
    width: 100%;
    grid-row: 1;
    margin-left: 0%;
    margin-top: 0%;
}

/*---------------------------*/


main section.contactsec {
    display: grid;
    grid-template-columns: 1fr;
    background: linear-gradient(#c3c8d0, #d7d8de);
    margin-top: 2em;
    margin-bottom: 0em;

}

div.contact {
    grid-column: 1;
    grid-row: 1;
    margin: 1em 1em;
    margin: 3em 0em 0em 0em;
    text-align: center;
}

div.contact2 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    margin: 7em 0em 3em 0em;
    line-height: 1.5rem;
}

div.location {
    grid-row: 2;
    margin: -2em -2em 2em 1em;
    display: none;
}

iframe {

    width: 90%;
}

/*gallery page*/


main .grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
main h2.gallerytittle {
    align-items: center;
    margin: 2em;
}

main div picture.gallery{
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #eee;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

picture p {
    height: 10px;
}

picture.gallery img {
    width: 300px;
    border: 1px solid #333;
    filter: blur(0em);
    transition: filter 0.8s;
    margin: 0.5rem;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    max-height: 210px;
}

picture:hover {
    box-shadow: 0 0 50px #333;}

/* storm center page */
main.storm {
    margin: 1rem auto;
    width: 90%;
}

.form-control:focus, textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.form-box {
    padding: 0.5rem 0;
    font-size: 1.2rem;
    flex-direction: column;
    display: flex;
}


form.form-panel {
    background: #d6dcee;
    border: 1px solid #bbb;
    box-shadow: 0 0 10px #333;
    padding: 1em;
}

.form-box label{
    display: none;
}


.form-box label.storm, .form-box label.flexly, .form-box label.danger, 
 .form-box label.aditionalinfo {
    display: block;
}

#ratingvalue {
    margin: 20px 20px;
}

input:invalid {
	background-color: #fdd;
	color: #000;
}

input:valid {
	background-color: #dfd;
	color: #000;
}
input.thick {
    padding: 0;
    margin-left: 0em;

}
textarea {
    overflow: auto;
    border-radius: 5%;
}


input.submitbtn {
    border: none;
    background-image: linear-gradient(#849bbf, #c0c1c7);
    border-radius: 5%;
    padding: 0.5rem;
    margin: 0;
    width: 40%;
}

/*----------- FOOTER --------------*/




div#footerWrapper {
    background-color: #516190;
}

footer {
    background-color: #516190;
    padding: .5rem 2%;
    text-align: center;
    display: block;
    color: #eee;

}



/*--- Clearfix---*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
